  body {
    background: #F5F5F5;
    font-family: 'Merriweather';
  }
  
  footer {
    position: sticky;
    text-align: center;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: 100px;
  }
  
  footer p {
    color: #FFFFFF;
    background-color:#06114F;
  }

  .container-fluid.bottom{
    padding: 30px;
    background-color:#06114F;
  }

  .icon{
    margin: 12px;
    color: #FFFFFF;
  }

  .navbar a{
    color: #06114F;
    margin-right: 20px;
    margin-left: 10px;
    font-size: 1.5rem;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

  }

  .landing-text{
    text-align: center;
    color: #252F65;
  }

  .landing-page h1{
    font-style: normal;
    font-weight: 900;
    font-size: 43px;
    line-height: 121.1%;
  }

  .landing-page p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
  }

  .landing-page button{
    background-color: #6F3096;
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 5px;
    padding: 20px 60px;
  }

  @media (min-width: 992px) {
  .landing-page h1{
    position: absolute;
    width: 659px;
    height: 133px;
    left: 55px;
    top: 288px;
  }

  .landing-page p{
    position: absolute;
    width: 535px;
    height: 53px;
    left: 104px;
    top: 406px;
  }

  .landing-page button{
    position: absolute;
    left: 238px;
    top: 486px;
  }

  .saltbae{
    position: absolute;
    width: 647px;
    height: 647px;
    left: 694px;
    top: 78px;
  }

}