  body {
    background-color: #F5F5F5;
  }

  a{
    text-decoration: none;
  }

  .container-fluid{
    padding: 3% 15%;
  }

   /* Navbar  */
  .navbar {
    background: #F5F5F5;
  }

  .navbar a{
    color: #06114F;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    margin: 0 20px;
    font-size: 1.5rem;
    font-weight: 300;
  }

 /* Footer */
 footer{
   text-align: center;
   color: #F5F5F5;
 }

.blue-section{
  background-color:#06114F;
}

.icon{
  margin: 10px;
  color: #F5F5F5;
  font-size: 30px;
}

/* Landing page */

.landing-page{
  background-color: #F5F5F5;
  text-align: center;
}

.landing-text{
  color: #252F65;
  margin-top: 20%;
  margin-bottom: 10%;
}

.landing-text h1{
  font-family: Merriweather;
  font-weight: 900;
}

.landing-text p{
  font-family: Roboto;
  font-weight: 300;
}

.landing-page button{
  color: #F5F5F5;
  background-color: #6F3096;
  font-family: Merriweather;
  font-weight: 700;
  border-radius: 5px;
  padding: 20px 60px;
}

.saltbae{
  height: 594px;
  width: 594px;
}

/* Upload Page */
.upload-page{
  background-color: #6F3096;
}


.box{
  background-color: #F5F5F5;
  box-shadow: 0px 10px 30px rgba(38, 50, 56, 0.5);
  border-radius: 21px;
  margin: 5%;
}

.upload-page h1{
  color: #252F65;
  margin: 15% 12%;
}

.upload-page p{
  color: #252F65;
  margin: 15% 10%;
  margin-bottom: 20%;
}

.upload-page form{
  margin: 10%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #06114F;
  border-radius: 4px;
}

.form-description{
  margin: 15px 0px;
}

.form-image{
  margin: 15px 0px;
}

.uploader{
  height: 200px;
}

.submitButton{
  margin: 5% 0%;
  text-align: center;
}

.submitButton button{
  color: #FFFFFF;
  background-color: #6F3096;
  width: 100px;
}

/* Most viewed page */
.container-fluid.most-viewed{
  padding: 4% 1%;
}

.most-viewed h1{
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  text-align: left;
  color: #252F65;
  margin: 20px;
}

.mw-image{
  height: 364px;
  width: 402px;
}



@media (max-width: 991px) {
  .container-fluid{
    padding: 3% 6%;
  }

  .landing-text h1{
    font-family: Merriweather;
    font-weight: 900;
    margin-left: 10%;
    margin-right: 10%;
  }

  .landing-text p{
    font-family: Roboto;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
  }

  .saltbae{
    height: 394px;
    width: 394px;
  }

  .box{
    margin: 5% 20%;
  }

  .upload-page h1{
    text-align: center;
    margin: 10px 40px;
  }

  .upload-page p{
    text-align: center;
    margin: 10px 100px;
  }

  .upload-page form{
    margin: 5% 10%;
  }

  .container-fluid.most-viewed{
    padding: 4% 1%;
    text-align: center;
  }

  .most-viewed h1{
    text-align: center;
    margin: 20px;
  }

  .mw-image{
    width: 302px;
    height: 263px;
    margin: 15px;
  }
}
